# Filesystem specific
.DS_Store

# Compilation junk
*.o
build/
bin/
*.tmp

# Accidental python files
*.ipynb
__pycache__

# Notation files
*.cson

# Temporary files
*.swp

# Temporary Kokkos files
/Kokkos*
/*.a
extern/kokkos/
extern/plog/

*.host
*.cuda
*.omp
*.mpi
run/*
!/run/submit
